*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
width: 100%;


}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 3px 13px 1px rgb(0 0 0 / 30%);
}

.tienda-libros{
  background-image: url(./imagenes/tienda.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  justify-content: center;
  align-items: center;

}

h1{  
  text-align: center;
  color: darkorange;
  font-family: sans-serif;
  margin-top: 20px;
  padding-top: 200px;
}